<!-- indexer::stop -->
{% block cta %}
    <div class="module-cta">
        <div id="{{ cssId }}" class="{{ cssClass }}">
            <a href="{{ ctaUrl }}" title="{{ ctaTitle }}">{{ ctaText }}</a>
        </div>
    </div>
{% endblock %}
<!-- indexer::continue -->
