<!-- indexer::stop -->
{% block cta %}
    <div id="{{ cssId }}" class="module-cta {{ cssClass }}">
        <a href="{{ ctaUrl }}" title="{{ ctaTitle }}">
            <span>{{ ctaText }}</span>
        </a>
    </div>
{% endblock %}
<!-- indexer::continue -->
